<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <Resource name="jdbc/UserPlatformDB"
              type="javax.sql.DataSource" auth="Container"
              description="Derby database for User Platform"
              maxActive="100" maxIdle="30" maxWait="10000"
              username="" password=""
              driverClassName="org.apache.derby.jdbc.EmbeddedDriver"
              url="jdbc:derby:Databases/UserPlatformDB"/>

    <Resource
            name="jndi/dbConnectionManager"
            auth="Container"
            type="org.geektimes.projects.user.sql.DBConnectionManager"
            factory="org.geektimes.projects.user.sql.DBConnectionManager"
    />

    <Resource
            name="jndi/databaseUserRepository"
            auth="Container"
            type="org.geektimes.projects.user.repository.DatabaseUserRepository"
            factory="org.geektimes.projects.user.repository.DatabaseUserRepository"
    />

    <Resource
            name="jndi/userService"
            auth="Container"
            type="org.geektimes.projects.user.service.UserServiceImpl"
            factory="org.geektimes.projects.user.service.UserServiceImpl"
    />
</Context>